body {
  background: lightgray;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 0.1em;
}

li {
  margin: 5px;
}

h1 {font-family: 'Oleo Script', cursive;}

.instructions {
  display: flex;
  flex-direction: column;
}

.instructions div {
  display: flex;
  flex-direction: row;
  align-items: center;
}


button:focus {outline:0;}

.game {
  position: relative;
}

.key {
  background: gray;
  display: flex;
  border: 1px solid darkgrey;
  color: white;
  padding: 0.7em;
  border-radius: 0.5em;
  justify-content: center;
  margin-right: 0.7em;
  margin-left: 0.7em;
}

.main {
  display: flex;
  flex-direction: row;
}

.info {
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.pause-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: medium;
  padding: 0 0.5em 0 0.5em;
  z-index: 10;
  position: absolute;
  min-width: 60px;
  min-height: 30px;
  top: 5px;
  right: 10px;
  background-color: white;
  border-radius: 2px;
  border: 0px;
}

.active {
  background-color: darkred;
  color: floralwhite;
}
